@model BankingApp.Models.Customer

<h2>My Profile</h2>

<!-- Display the profile information -->
<div>
    <p>Name: @Model.Name</p>
    <p>TFN: @Model.TFN</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>State: @Model.State</p>
    <p>PostCode: @Model.PostCode</p>
    <p>Mobile: @Model.Mobile</p>
    
</div>

<a asp-action="Edit" asp-controller="MyProfile" class="btn btn-primary">Edit Profile</a>

<a asp-action="ChangePassword" asp-controller="MyProfile" class="btn btn-warning">Change Password</a>

