@model IEnumerable<BillPay>

<div>
    <h1 class="display-4">Bill Payment</h1>
    <div>
        <p>BPAY is an easy and secure way to pay and manage bills from your online banking</p>
    </div>
    <div>
        <a asp-action="Create" asp-controller="BillPay" class="btn btn-primary btn-danger">Schedule a New BillPayment</a>
    </div>
    <br/>
    <h3>Scheduled Bill Payments</h3>
    @if (Model.Any(bp => bp.Status == BillPayStatus.Scheduled))
    {
        <table class="table">
            <tr>
                <th>BillPay ID</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Schedule Time</th>
                <th>Period</th>
                <th></th>
            </tr>
            <tbody>
                @foreach (var billPay in Model.Where(bp => bp.Status == BillPayStatus.Scheduled))
                {
                    <tr>
                        <td>@billPay.BillPayID</td>
                        <td>@billPay.AccountNumber</td>
                        <td>@billPay.Amount.ToString("0.00")</td>
                        <td>@billPay.ScheduleTimeUtc.ToLocalTime()</td>
                        <td>@billPay.Period</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="BillPay"
                               asp-action="Cancel" asp-route-billPayId="@billPay.BillPayID">Cancel</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    } else
    {
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p>You have no scheduled bills.</p>
            </div>
        </div>
    }
    <div>
        <h3>Failed Bill Payments</h3>
    </div>
    @if (Model.Any(bp => bp.Status == BillPayStatus.Failed))
    {
        <table class="table">
            <tr>
                <th>BillPay ID</th>
                <th>Account Number</th>
                <th>Amount</th>
                <th>Schedule Time</th>
                <th>Period</th>
                <th>Status</th>

            </tr>
            <tbody>
            @foreach (var billPay in Model.Where(bp => bp.Status == BillPayStatus.Failed))
            {
                <tr>
                    <td>@billPay.BillPayID</td>
                    <td>@billPay.AccountNumber</td>
                    <td>@billPay.Amount.ToString("0.00")</td>
                    <td>@billPay.ScheduleTimeUtc.ToLocalTime()</td>
                    <td>@billPay.Period</td>
                    <td style="color: red;">Failed</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p>You have no failed bills.</p>
            </div>
        </div>
    }
</div>